@using Tweetinvi.Models;
@model IUser

<div class="media">
    <form asp-action="DraftOrDrop" asp-controller="Home" asp-route-ScreenName=@Model.ScreenName>
        <div class="media-left">
            <a href="@("https://twitter.com/" + Model.ScreenName)" target="_blank" title="@(Model.ScreenName)">
                <img class="media-object img-custom" src="@(Model.ProfileImageUrl400x400)" alt="...">
            </a>
        </div>
        <div class="media-body">
            <h2 class="media-heading">@Model.Name</h2>
            <span>tweets:_@Model.StatusesCount</span>
            <br>
            <span>followers:_@Model.FollowersCount</span>

            <p>
                <button type="submit" class="btn @( MainModel.DoD ? "btn-success" : "btn-danger")">
                    @(MainModel.DoD ? "<<Draft" : "Drop>>")
                </button>
            </p>
        </div>
    </form>
</div>